#!/usr/bin/env bash 

function fallback_alias {
  eval $1 $3 2>/dev/null || eval $2 $3
}

alias ls='fallback_alias "exa --color=auto" "\ls"'
alias ll='fallback_alias "exa -lah" "\ls -l"'
alias la='fallback_alias "exa -a" "\ls -a"'

alias recent='exa --color=always --long --all --reverse --header --sort accessed --accessed | head -n 20'

alias grep='grep --color'

# editor 
alias vim='fallback_alias "nvim" "vim"'
alias v=vim

alias du='du -BM --max-depth=1 | sort -nr'

# useful system tools
alias cat='bat'
alias toggleTouchpad="bash ~/.config/my-scripts/toggle_touchpad.sh"
alias xclip="xclip -selection c"
alias cpwd="pwd | xclip"

# vpn related
#alias vpn='sudo openvpn --config /etc/openvpn/client/lui.ovpn'
#alias wakeUpPC='python ~/projects/wakeUpAlarmClient/wakeUp.py'

# ros and gazebo
alias killgazebo="killall -9 gazebo & killall -9 gzserver  & killall -9 gzclient"

# manage dotfiles properly
alias config="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# velocidrone simulator
alias velocidrone="bash /home/alfierra/projects/activeWindow/setup.sh"

# activate local virtual environment
alias venv="source venv/bin/activate"

