#shorcuts
alias l='ls'
alias la='ls -A'

# exa is a new ls
alias l='exa'
alias la='exa -a'
alias ll='exa -lah'
alias ls='exa --color=auto'

alias du='du -BM --max-depth=1 | sort -nr'

# useful system tools
alias vim="nvim"
alias v="nvim"
alias toggleTouchpad="bash ~/.config/my-scripts/toggle_touchpad.sh"
alias xclip="xclip -selection c"
alias cpwd="pwd | xclip"

# vpn related
#alias vpn='sudo openvpn --config /etc/openvpn/client/lui.ovpn'
#alias wakeUpPC='python ~/projects/wakeUpAlarmClient/wakeUp.py'

# ros and gazebo
alias killgazebo="killall -9 gazebo & killall -9 gzserver  & killall -9 gzclient"

# manage dotfiles properly
alias config="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# velocidrone simulator
alias velocidrone="bash /home/alfierra/projects/activeWindow/setup.sh"

# activate local virtual environment
alias venv="source venv/bin/activate"
