#shorcuts
alias l='ls'
alias la='ls -A'
alias v='vim'

# useful system tools
alias toggleTouchpad="bash ~/.config/my-scripts/toggle_touchpad.sh"
alias xclip="xclip -selection c"
alias cpwd="pwd | xclip"

# vpn related
alias vpn='sudo openvpn --config /etc/openvpn/client/lui.ovpn'
alias wakeUpPC='python ~/projects/wakeUpAlarmClient/wakeUp.py'

# set up fastai google cloud
alias fastai_gcloud='google-chrome http://localhost:8080/tree
                     gcloud compute ssh jupyter@my-fastai-instance -- -L 8080:localhost:8080'

# typing exercise
alias keyMaster="bash /home/alfierra/projects/keyMaster/keySetup.sh"

# ros and gazebo
alias killgazebo="killall -9 gazebo & killall -9 gzserver  & killall -9 gzclient"

# manage dotfiles properly
alias config="/usr/bin/git --git-dir=$HOME/.cfg --work-tree=$HOME"

